<ng-template #helpModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title" id="uploadModalLabel">Help</h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="jumbotron">
      <h1 class="display-3">Support Me</h1>
      <p class="lead">Help the open and free web flourish. Support me by buying a coffee for me.</p>
      <hr class="my-4">
      <p>Do you like my work? Your appreciation means alot to me. Buy me a cup of coffee. Coffee keeps me going during those late hours. Click below to send me donation of your choice.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://www.paypal.me/ShishirSharma/5" role="button">Buy me a coffee</a>
      </p>
      <p> If you need any help related to this app click on <a class="btn btn-link" href="https://github.com/shishirsharma/MyS3Browser/issues" role="button">Github Issues</a></p>
    </div>
  </div>
</ng-template>

<button type="button" class="btn btn-link" (click)="open(helpModal)" placement="left" ngbTooltip="Help">
  <i class="fa fa-question" aria-hidden="true"></i>
</button>
