<ng-template #helpModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title" id="uploadModalLabel">My S3 Browser</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4">

      </div>
      <div class="col-sm-8">

      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</ng-template>

<button type="button" class="btn btn-link" (click)="open(helpModal)" >
  <i class="fa fa-question" aria-hidden="true"></i>
</button>
