<ng-template #uploadModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title" id="uploadModalLabel">Upload</h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')"><span aria-hidden="true">&times;</span></button>
  </div>
  <form #uploadForm="ngForm" (ngSubmit)="onSubmit(uploadForm)" class="form-horizontal">
    <div class="modal-body">
      <div class="form-group required">
        <label class="control-label">File Name</label>
        <input type="text" class="form-control" id="aws-key" placeholder="File Name" ngModel name="filename" required>
      </div>
      <div class="form-group required">
        <label class="control-label">Cache-Control (optional)</label>
        <input type="text" class="form-control" id="aws-header-cache-value" placeholder="max-age in seconds( e.g. 31536000 )" ngModel name="header-cache-value">
      </div>
      <div class="form-group">
        <label class="custom-file">
          <input type="file" id="file-chooser" (change)="onFileChange($event)" ngModel name="uploadfile" class="custom-file-input">
          <span class="custom-file-control" [ngClass]="{'selected': fileSelected}">{{uploadFileName}}</span>
        </label>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
      <button id="btnSaveChange" type="submit" class="btn btn-primary" *ngIf="!modal_type_folder" >Upload</button>
    </div>
  </form>
</ng-template>


<button type="button" class="btn btn-primary btn-upload mr-2" (click)="open()" ngbTooltip="Upload file">
  <i class="fa fa-upload" aria-hidden="true"></i>
</button>
