$custom-file-text: (
  placeholder: (
  en: "Choose file...",
  es: "Seleccionar archivo..."
),
  button-label: (
    en: "Browse",
    es: "Navegar"
  )
);


.custom-file-input.selected {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
