<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><i class="fa fa-cloud-upload" aria-hidden="true"></i>&nbsp;My S3 Browser</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown ">
        <app-navbar-dropdown-menu-link [currentBucket]="s3Bucket" ></app-navbar-dropdown-menu-link>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <app-credential-modal [openModal]="aws_error" (credentialUpdate)="onCredentialUpdate($event)" ></app-credential-modal>
      <app-help-modal></app-help-modal>
    </form>
  </div>
</nav>
<div class="container-fluid">
  <nav id="top-breadcrumb" aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="s3-folder" data-prefix="" href="#">s3://{{s3Bucket}}</a></li>
      <li class="breadcrumb-item" *ngFor="let folder of s3Prefix.slice(0, -1).split('/'); index as i; last as isLast" [ngClass]="{'active': isLast}"><a [routerLink]="['/index.html']" [queryParams]="{ bucket: s3Bucket, prefix: s3Prefix.split('/').splice(0, i+1).join('/')+'/', marker: s3Marker }" *ngIf="!isLast">{{folder}}</a><span *ngIf="isLast">{{folder}}</span></li>
    </ol>
  </nav>
  <div class="card">
    <div class="card-header">
      <nav class="nav nav-light bg-light">
        <form class="form-inline">
          <app-upload-modal></app-upload-modal>
          <div class="input-group">
            <input id="buckets-search-query" type="text" class="form-control ml-sm-2" placeholder="Search current folder" aria-label="Search" aria-describedby="basic-addonsearch">
            <span class="input-group-addon" id="basic-addonsearch"><i class="fa fa-search" aria-hidden="true"></i></span>
          </div><!-- /input-group -->
        </form>
      </nav>
    </div>
    <div class="card-body">
      <table id="main-table" class="table">
        <thead>
          <tr>
            <th>Key</th>
            <th>Last Updated</th>
            <th>Size</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let file of files.CommonPrefixes">
            <td><span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span> <a class="s3-folder" [attr.data-prefix]="file.Prefix" [routerLink]="['/index.html']" [queryParams]="{ bucket: s3Bucket, prefix: file.Prefix, marker: s3Marker }"><strong>{{file.Prefix.replace('+', ' ').replace(s3Prefix, '')}}</strong></a></td>
            <td></td>
            <td></td>
          </tr>

          <tr *ngFor="let file of files.Contents">
            <td><a class="link-icon" [attr.data-filename]="file.Key" href="#" >{{file.Key.replace('+', ' ').replace(s3Prefix, '')}}</a></td>
            <td>{{file.LastModified}}</td>
            <td>{{file.Size}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item">
            <a class="page-link" (click)="goBack()" href="#" tabindex="-1">Previous</a>
          </li>
          <!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
               <li class="page-item"><a class="page-link" href="#">2</a></li>
               <li class="page-item"><a class="page-link" href="#">3</a></li> -->
          <li class="page-item" *ngIf="files.NextMarker" >
            <a class="page-link" [routerLink]="['/index.html']" [queryParams]="{ bucket: s3Bucket, prefix: s3Prefix, marker: files.NextContinuationToken }">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
