.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

input:invalid {
  border-color: red;
}
input,
input:valid {
  border-color: #ccc;
}


.form-group.required .control-label:after {
  color: #d00;
  content: "\f069";
  font-family: 'FontAwesome';
  font-size: x-small;
  font-weight: ligher;
  margin-left: .5rem;
  position: absolute;
}
