<ng-template #credentialModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title" id="credentialModalLabel">Credentials</h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')"><span aria-hidden="true">&times;</span></button>
  </div>
  <form #credentialForm="ngForm" (ngSubmit)="onSubmit(credentialForm)" id="formCredentials" class="form-horizontal">
    <!-- {{ debug }} -->
    <div class="form-group required">
      <label class="col-sm-4 control-label" for="input-access-key-id">Access Key Id</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" required placeholder="Access Key Id" [(ngModel)]="model.access_key_id" name="access_key_id" minlenght="16" maxlenght="128" pattern="[\w]+">
      </div>
    </div>
    <div class="form-group required">
      <label class="col-sm-6 control-label" for="input-secret-access-key">Secret Access Key</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" required placeholder="Secret Access Key" [(ngModel)]="model.secret_access_key" name="secret_access_key" pattern="[\w/+=,.@-]+" maxlenght="128" >
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label" for="input-bucket">Bucket</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" placeholder="Bucket" [(ngModel)]="model.s3_bucket" name="s3_bucket" minlenght="3" maxlenght="63" pattern="^([a-z]|(\d(?!\d{0,2}\.\d{1,3}\.\d{1,3}\.\d{1,3})))([a-z\d]|(\.(?!(\.|-)))|(-(?!\.))){1,61}[a-z\d\.]$" >
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label" for="input-region">Region</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" placeholder="Region" [(ngModel)]="model.s3_region" name="s3_region" pattern="(us|ap|eu|ca|sa)-(east|west|south|central|southeast|northeast)-[1-9]" >
      </div>
    </div>
    <!-- <button type="submit" hidden class="btn btn-primary"></button> -->
    <div class="modal-body">
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
        <button id="btnSaveChange" type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </form>
</ng-template>

<button type="button" class="btn btn-link" (click)="open()" >
  <i class="fa fa-cog" aria-hidden="true"></i>
</button>
